{% extends "base.html" %}
{% load markup %}
{% block title %}Archives{% endblock %}
{% block pageid %}archive{% endblock %}

{% block content %}

<h1>Archive</h1>

{% regroup object_list by pub_date.year as entries_by_year %}
{% for group in entries_by_year %}

<h3 class="yeargrouper">{{ group.grouper }}</h3>

<table class="posts-table">
<tbody>
{% for entry in group.list %}
  <tr>
    <td class="date small"><p><a href="{{ entry.url }}">{{ entry.pub_date|date:"j b Y" }}</a></p></td>
    <td class="title"><a href="{{ entry.url }}">{{ entry.headline }}</a></td>
    <td class="category icon">{{ entry.categories.title }}</td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endfor %}
{% endblock %}
