{% extends "base.html" %}
{% load markup %}
{% block title %}{{ object.headline }}{% endblock %}

{% block content %}
{% for category in object.categories.all %}
<div class="post {{ category.slug }}">
{% endfor %}
  <h1 class="title">{{ object.headline }}</h1>
  <p class="dateline">Posted <span class="date">{{ object.pub_date|date:"F j, Y" }}</span></p>
  {% for category in object.categories.all %}
  <small class="categories">Categories: {{ category.title }}</small>
  {% endfor %}
  <div class="body">
    {{ object.body|safe|markdown }}
    {% include "includes/post_tags.html" %}
  </div>
</div>
{% endblock %}
