{% extends "base.html" %}
{% load markup %}
{% block title %}Blog{% endblock %}

{% block pageid %}blog{% endblock %}

{% block content %}
{% for object in latest %}
{% for category in object.categories.all %}
<div class="post {{ category.slug }}">
{% endfor %}
  <h2 class="title"><a class="url" href="/blog{{ object.url }}">{{ object.headline }}</a></h2>
  <p class="dateline">Posted <span class="date">{{ object.pub_date|date:"F j, Y" }}</span></p>
  {% for category in object.categories.all %}
  <small class="categories">Categories: {{ category.title }}</small>
  {% endfor %}
  <div class="body">
    {{ object.body|safe|markdown }}
    {% include "includes/post_tags.html" %}  
  </div>
</div><!--/post-->
{% endfor %}
{% endblock %}